body {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    font-size: 1.5em;
    font-family: sans-serif;
    background-color: #163846;
    color: #fff;
  }
  
  a {
    color: #DAB046;
    text-decoration: none;
  }
  
  #array {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.25em 0.5em;
    font-size: 1.25em;
  }
  
  #result {
    text-align: right;
  
  }
  
  #numberline{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 25%;
    left: 20%;
    text-align: center;
    color: red;
    font-size: 20px;
    background: rgb(22, 56, 70);
    border: none;
    outline: none;
}